

<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>

<div *ngIf="selectedHero">
    <div>{{hero.name | uppercase}} Details:</div>
    <div><span>id: {{hero.id}}</span></div>
    <div><span>name: {{hero.name}}</span></div>
    
    <div>
        <label for="name"></label>
        <input type="text" id="name" [(ngModel)]="hero.name" placeholder="name">
    </div>
</div>